/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

.divider {
  width: 95vw;
  border-color: rgb(240, 240, 240);
}

body {
  padding-bottom: 1rem;
  color: #5a5a5a; /* Text Color in Body */
  background-color: rgb(20, 20, 20);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*-- TOP -- */
.top-desc {
  padding-left: 5vw;
  padding-right: 5vw;
  height: 100vh;
  width: auto;
  background: url(images/top_background.png);
  box-shadow: inset 0 0px 10vw 10vh rgb(20, 20, 20); 
  background-size: cover;
  border: 2px rgba(0, 0, 0, 0.8) outset;
}

.top-desc-inner {
  text-align: center;
}

.top-desc-inner > img {
  margin-top: 20vh;
  height: 30vh;
  width: auto;
  margin-bottom: 7vh;
}

.top-desc-inner > h1{
  color: rgb(240, 240, 240);
  font-weight: bold;
  font-size: 200%;
  z-index: 100;
}


/*-- TECHNICAL SKILLS -- */
.ts-outer {
  width: 100%;
  height: 140vh;
  box-shadow: inset 0 0px 10vw 10vh rgb(20, 20, 20); 
  background-image: url(images/Resume_bg.jpg);
  padding-top: 7vh;
  background-size: cover;
}

.technical-skills {
  border: solid 1px;
  border-color: white;
  margin-left: auto;
  margin-right: auto;
  background: black;
  width: 75%;
  height: 125vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ts-top {
  color: black;
  background: white;
}

.tskills-inner {
  width: 100%;
  height: 97%;
  padding: 1vh;
  font-size: 2.5vh;
  color: white;
  overflow-y: scroll;
}


/*-- PORTFOLIO --*/
.portfolio {
  background-image: url(images/Resume_bg.jpg);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset 0 0px 10vw 10vh rgb(20, 20, 20); 
  background-size: cover;
  padding-left: 12.5vw;
  padding-right: 12.5vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.pf-head {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(240, 240, 240);
  padding: 1vh;
  border: solid 1px;
  border-color: rgba(240, 240, 240, 0.2);
}

.paxitium {
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(images/Paxitium_bg.png);
  background-size: auto 100%;
  box-shadow: inset 0 0px 5vw 5vh black; 
  border: solid 1px;
  border-color: rgba(240, 240, 240, 0.2);
}

.small-showcase {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5vh; 
  color: white; 
  border: solid 1px; 
  border-color: rgba(240, 240, 240, 0.2);
  text-align: center;
}